{% extends './layout/base.html' %}

{% block title %}
{{Title}}
{% endblock title %}



{% block content %}

<form action="/postTask/" method="POST">

    <input type="text" name="taskId" class="form-control my-2" placeholder="Id">
    <input type="text" name="subject" class="form-control my-2" placeholder="Task subject">
    <input type="checkbox" name="isCompleted" class="form-check-input my-2">
    <input type="submit" value="Add Task" class="form-control my-2">

</form>

{% endblock content %}